<html>

<head>
<title>Server Page</title>    


<link href="/assets/style.css" rel="stylesheet">    
    
</head>

<body>

<h1>Contact Us</h1>
<p>This page gives the conatct information of the website</p>
    
<form method="post" action="/info">
  <label for="name" id="name">Name</label><br>
  <input type="text" name="name"><br>
  <label for="department" id="dept">Department</label><br>
  <input type="text" name="department"><br><br>
   <label for="email" id="email">Email</label><br>
  <input type="text" name="email" ><br><br>
  <input type="submit" value="Submit">
</form>     

</body>

</html>