<html>

<head>
<title>Server Page</title>    

<style>
    
    body{
        background-color: blue;
        text-align: center;
    }
    
    h1{
        color: chartreuse;
        font-size: 35px;
    }
    
    p,h2{
        color: brown;
        font-size: 30px;
    }
    li {
        color: red;
        font-size: 30px;
    }
    ul {
        text-align: center;
    }
</style>    

</head>

<body>


<h1>This is the profile of <b><%= rq.name %></b></h1>
<h1>Age of the person is <%= rq.age %></h1>

</body>

</html>