<html>

<head>
<title><%= title %></title>    


<link href="/style.css" rel="stylesheet">    
    
</head>

<body>

<h1><b>Login Page</b></h1>
<p>Details Of The User</p>
    
<form method="post" action="/submit">
    
  <label for="name" id="name">Name</label><br>
  <input type="text" name="name" value="<%= name %>" placeholder="Name" required><br>
   <label for="password" id="password">Password</label><br>
  <input type="password" name="password" placeholder="Passowrd" required><br><br> 
  <label for="age" id="age">Age</label><br>
  <input type="text" name="age" placeholder="Age" required><br><br>
  <label for="gender" id="gender">Gender</label><br>
  <input type="text" name="gender" placeholder="Gender" required><br><br>
  <input type="submit" value="Submit">
    
</form>     

</body>

</html>