<html>

<head>
<title><%= title %></title>    

<style>
    
    body{
        background-color: green;
    }
    
    h1{
        color: chartreuse;
        font-size: 65px;
        text-align: center;
        margin-top: 130px;
    }
    div{
       height: 600px;
       width: 600px;
       position: fixed;
       top: 50%;
       left: 40%;
       margin-top: -250px;
       margin-left: -200px;
    }
    
</style>    

</head>

<body>
<div>
 <h1><b><%= rq.name %> has logged in </b></h1>
</div>

</body>
</html>