<html>

<head>
<title><%= title %></title>    

<style>
    
    body{
        background-color: blue;
        text-align: center;
        font-display: block;
    }
    
    h1{
        color: chartreuse;
        font-size: 35px;
    }
    
    p{
        color: brown;
        font-size: 30px;
    }
    li {
        color: red;
        font-size: 30px;
    }
    ul {
        text-align: center;
    }
</style>    

</head>

<body>

<h1><strong><%= rs.name %></strong>'s Profile</h1>
<p><strong>Age: </strong><%= rs.age %></p>
<p><strong>Gender: </strong><%= rs.gender %></p>


</body>

</html>