<html>

<head>
<title>Server Page</title>    


<link href="/assets/styles.css" rel="stylesheet" type="text/css" />  
    
</head>

<body>

<h1>Success Page</h1>
<p>Submission Successful</p>


</body>

</html>